# CTGAN, introduction

## Step 1: Prepare your data

In [1]:
from ctgan.data import read_csv

In [2]:
data, discrete_columns = read_csv(csv_filename="./examples/csv/adult.csv", 
                                  meta_filename="./examples/csv/adult.json")

The Metadata file will be in JSON format, containing an entry called columns, with a list of sub-documents containing both the name of the column and its type.

**Column types can be continuous for continuous columns and categorical, ordinal or discrete for non-continuous columns.**

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
discrete_columns

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 'income']

##Â Step 2: Fit CTGAN to your data

In [6]:
from ctgan.synthesizer import CTGANSynthesizer

In [7]:
ctgan = CTGANSynthesizer()

In [8]:
ctgan

In [9]:
ctgan.fit(data, discrete_columns, epochs=5)

Epoch 1, Loss G: 1.8868, Loss D: -0.2757
Epoch 2, Loss G: 1.5564, Loss D: 0.2455
Epoch 3, Loss G: 1.1967, Loss D: 0.2388
Epoch 4, Loss G: 0.7673, Loss D: -0.0487
Epoch 5, Loss G: 0.4341, Loss D: 0.0820

Once the process has finished, all you need to do is call the sample method of your CTGANSynthesizer instance indicating the number of rows that you want to generate.

In [10]:
samples = ctgan.sample(1000)

In [11]:
samples

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,43.5579,Private,407321,HS-grad,4.18167,Never-married,Prof-specialty,Unmarried,Black,Male,-45.0411,4.16282,44.625,United-States,<=50K
1,34.444,Private,266373,Bachelors,3.48671,Never-married,Adm-clerical,Husband,White,Male,-113.307,2.90152,54.0152,United-States,>50K
2,51.5516,Private,231401,HS-grad,13.2405,Never-married,Machine-op-inspct,Unmarried,Black,Male,78.5132,-2.36432,72.0984,United-States,>50K
3,25.6598,Private,49548.4,Some-college,16.2661,Married-civ-spouse,Other-service,Own-child,White,Male,44.4972,-1.25731,34.1151,United-States,<=50K
4,34.6581,Private,198839,HS-grad,2.29787,Never-married,Prof-specialty,Own-child,White,Female,65.8026,4.56506,39.9558,United-States,<=50K
5,48.2409,Self-emp-inc,25909.3,HS-grad,3.1007,Married-civ-spouse,Prof-specialty,Husband,White,Female,137.413,2.44584,57.0688,United-States,<=50K
6,21.9093,Private,230304,1st-4th,10.0475,Widowed,Handlers-cleaners,Other-relative,White,Male,94.1392,5.64152,21.9799,United-States,<=50K
7,22.6247,Self-emp-not-inc,319036,HS-grad,9.03482,Married-civ-spouse,?,Husband,Black,Male,92.9954,-2.3871,40.332,United-States,<=50K
8,24.5064,Private,135014,Some-college,8.9904,Widowed,Protective-serv,Not-in-family,White,Female,-3.60939,4.55226,49.479,United-States,>50K
9,39.7407,Private,114037,Some-college,13.7575,Married-civ-spouse,Other-service,Husband,White,Male,53.7699,2.44408,45.8428,United-States,<=50K
10,17.1704,Private,88246.2,Masters,14.1778,Never-married,Other-service,Own-child,White,Female,84.2184,3.5779,52.0804,United-States,<=50K
11,26.9241,Private,130002,5th-6th,9.03377,Married-civ-spouse,Prof-specialty,Wife,White,Female,122.139,2.81381,30.0769,United-States,<=50K
12,54.2446,Private,194875,HS-grad,6.60718,Never-married,Farming-fishing,Other-relative,Black,Male,74.922,6.23557,44.4444,Columbia,<=50K
13,44.3106,Private,226679,11th,2.34998,Married-civ-spouse,Machine-op-inspct,Other-relative,White,Male,-36.2799,-2.69952,49.3278,United-States,<=50K
14,23.4966,Private,302976,Some-college,7.30415,Divorced,Prof-specialty,Husband,White,Male,75.2126,-0.503017,40.0447,United-States,<=50K
15,27.8422,?,327512,HS-grad,9.97927,Divorced,Transport-moving,Husband,White,Male,-14.717,-1.7241,40.0802,United-States,>50K
16,48.3382,?,206631,Some-college,13.9932,Married-civ-spouse,Prof-specialty,Husband,White,Male,29.7099,-7.14568,27.292,United-States,<=50K
17,26.6641,Private,460992,HS-grad,15.7458,Never-married,?,Unmarried,White,Male,-14.0431,1.66676,50.6797,United-States,<=50K
18,16.4973,Private,163545,HS-grad,3.29663,Married-civ-spouse,Exec-managerial,Not-in-family,White,Male,37.2998,3.12531,44.9292,United-States,<=50K
19,21.059,Federal-gov,247519,Bachelors,14.1982,Never-married,Prof-specialty,Husband,White,Male,90.0293,1.20501,15.7497,United-States,>50K
20,39.215,Private,285464,10th,2.39407,Married-civ-spouse,Exec-managerial,Husband,Black,Male,7.31207,0.427395,16.7323,United-States,<=50K
21,34.338,Private,308863,Bachelors,7.15231,Never-married,Exec-managerial,Unmarried,White,Male,-106.865,2.9063,1.87192,United-States,<=50K
22,46.204,Private,301300,Some-college,4.18777,Never-married,?,Husband,White,Female,-5.34775,-3.77423,40.1817,Scotland,<=50K
23,60.2259,Private,331076,Some-college,10.9386,Married-civ-spouse,Prof-specialty,Husband,White,Female,40.0551,-3.9252,38.6223,United-States,<=50K
24,35.1379,Private,214849,9th,14.9667,Never-married,Prof-specialty,Husband,White,Male,35.6368,0.0633584,76.9292,United-States,>50K
25,27.1359,Private,147252,HS-grad,5.19741,Married-civ-spouse,Tech-support,Not-in-family,Asian-Pac-Islander,Male,76.7769,-4.64044,43.8927,Poland,<=50K
26,60.6625,Private,202230,Assoc-voc,14.1058,Divorced,Tech-support,Unmarried,Asian-Pac-Islander,Female,-28.325,-0.450159,39.8152,Dominican-Republic,<=50K
27,16.0289,Private,43065.1,Bachelors,15.2885,Married-spouse-absent,Exec-managerial,Not-in-family,White,Male,-21.061,-3.69564,46.1978,?,<=50K
28,31.8344,Local-gov,68749.5,HS-grad,8.90745,Never-married,Adm-clerical,Unmarried,White,Female,-90.4359,1.05767,45.8705,United-States,>50K
29,23.6532,Self-emp-inc,220234,Some-college,9.06172,Never-married,?,Husband,White,Male,-29.6675,4.70542,50.484,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,27.4112,Private,286530,Assoc-voc,10.035,Married-civ-spouse,Farming-fishing,Not-in-family,White,Female,-7.13176,-0.0699095,40.2765,Taiwan,>50K
971,19.5118,Private,78440.7,10th,14.2153,Divorced,Exec-managerial,Own-child,White,Female,73.0665,-2.5435,27.3481,United-States,>50K
972,35.0439,Private,280411,Assoc-acdm,13.3195,Married-civ-spouse,Other-service,Not-in-family,White,Male,94.4116,1.71383,29.0249,United-States,<=50K
973,34.6587,Private,114136,Some-college,9.02133,Married-civ-spouse,Craft-repair,Husband,White,Male,2.71894,-2.18979,60.1502,United-States,<=50K
974,19.5162,Private,121157,Bachelors,8.97129,Married-AF-spouse,Transport-moving,Own-child,White,Male,-76.6318,-4.08118,40.1729,United-States,<=50K
975,23.6057,Private,194913,10th,8.99295,Married-civ-spouse,Sales,Not-in-family,Other,Male,34.3023,4.86717,51.6956,United-States,<=50K
976,20.1987,Private,51840,Assoc-acdm,10.0604,Married-civ-spouse,Adm-clerical,Husband,White,Female,-11.243,1.90333,45.2176,United-States,<=50K
977,19.5126,Self-emp-inc,95252.9,Assoc-voc,9.05253,Never-married,Other-service,Not-in-family,White,Female,109.708,-4.25117,51.2673,United-States,>50K
978,19.1224,?,246803,Masters,9.05154,Never-married,Other-service,Husband,White,Male,40.4555,-0.0564108,40.0585,United-States,<=50K
979,57.8195,Local-gov,172260,Assoc-voc,8.92693,Married-civ-spouse,Adm-clerical,Unmarried,White,Male,70.8478,0.914971,61.951,United-States,<=50K
980,23.6701,Private,181683,7th-8th,13.9509,Married-civ-spouse,Handlers-cleaners,Wife,Black,Female,64.4899,2.7562,40.0901,United-States,>50K
981,19.4786,Private,207855,Some-college,13.4588,Married-civ-spouse,Sales,Wife,Black,Male,67.5802,-1.71015,54.3432,United-States,>50K
982,30.7275,Private,357925,9th,14.1307,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,90.3836,0.610701,51.2049,Haiti,<=50K
983,53.7731,Private,69947.7,Some-college,5.82732,Never-married,Machine-op-inspct,Unmarried,White,Male,53.4417,-2.18162,44.8174,Philippines,<=50K
984,28.968,Private,455966,HS-grad,8.9824,Married-civ-spouse,Machine-op-inspct,Not-in-family,White,Female,9.68654,-0.220559,40.1627,United-States,>50K
985,61.9321,Private,160452,HS-grad,5.27531,Never-married,Adm-clerical,Other-relative,White,Male,8.19687,-0.660391,44.7575,United-States,<=50K
986,29.5907,Private,228524,11th,13.937,Separated,Farming-fishing,Husband,White,Male,-2.44768,-7.8488,23.2661,United-States,>50K
987,38.8039,Private,305834,HS-grad,7.24196,Married-civ-spouse,Handlers-cleaners,Husband,Black,Female,61.2054,0.427274,49.8939,United-States,>50K
988,62.5757,Private,123397,Assoc-voc,1.84622,Divorced,Craft-repair,Husband,White,Male,49.1095,-1.1491,8.78625,United-States,<=50K
989,30.3395,Private,231422,HS-grad,11.01,Married-civ-spouse,Prof-specialty,Husband,White,Female,80.3217,4.11307,27.2776,United-States,>50K
990,31.893,Federal-gov,251070,Some-college,13.3097,Married-civ-spouse,Adm-clerical,Own-child,White,Male,-27.0543,1.09499,29.3632,Germany,<=50K
991,24.2469,Private,61571.1,Some-college,9.02275,Married-civ-spouse,Prof-specialty,Not-in-family,White,Female,-28.1242,4.38241,48.757,United-States,<=50K
992,33.3481,Private,248751,12th,14.0638,Separated,Exec-managerial,Unmarried,Black,Female,72.4035,-1.30212,21.9452,United-States,<=50K
993,58.2482,Self-emp-not-inc,506224,Masters,10.0033,Never-married,Adm-clerical,Unmarried,White,Male,45.42,-0.0864817,40.1963,United-States,<=50K
994,48.8083,?,131412,HS-grad,8.99048,Never-married,Other-service,Husband,White,Male,98.8928,-3.69979,20.7522,China,<=50K
995,15.9184,Self-emp-not-inc,132507,Some-college,9.99261,Married-civ-spouse,Exec-managerial,Unmarried,White,Female,-46.8213,-0.246719,45.1329,United-States,<=50K
996,14.8052,Self-emp-not-inc,195268,Bachelors,9.01874,Divorced,Machine-op-inspct,Husband,White,Male,51.0283,1.82313,78.639,United-States,>50K
997,26.5909,Private,254506,7th-8th,4.19768,Married-civ-spouse,Adm-clerical,Own-child,White,Male,123.971,1.98762,47.6796,United-States,<=50K
998,41.473,Private,243797,HS-grad,1.03492,Married-civ-spouse,Prof-specialty,Not-in-family,White,Male,24.8198,-2.69305,51.2085,United-States,<=50K
999,33.2863,Private,140936,HS-grad,1.11732,Divorced,Sales,Husband,Black,Female,7.39147,2.20749,39.9973,United-States,<=50K

NOTE: CTGAN does not distinguish between float and integer columns, which means that it will sample float values in all cases. If integer values are required, the outputted float values must be rounded to integers in a later step, outside of CTGAN.